.application-publish-container {
  box-sizing: border-box;
  font-size: 13px;
  background-color: #f5f5f7;
  height: 100%;
  padding: 30px 0;
  .publish-container {
    width: 800px;
    margin: auto;
    background-color: #fafafb;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    .top-container {
      padding: 80px 0 80px 50px;
      .process {
        width: 280px;
        height: 235px;
        background-image: url("./assets/images/process.png");
        background-size: cover;
        float: left;
      }
      .right-content {
        float: left;
        vertical-align: top;
        margin-top: 20px;
        .title {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          color: #6b737b;
        }
        .last-publish {
          color: #b0b0b9;
          font-size: 12px;
          margin-top: 5px;
          text-align: center;
        }
        .publish-button {
          display: block;
          margin: 22px 120px 0;
          width: 230px;
        }
        .sub-title {
          text-align: center;
          margin-top: 8px;
          font-size: 11px;
          color: #b0b0b9;
        }
      }
    }
  }
}
