.edit-area {
  // width: 265px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
  .edit-area-header {
    width: 100%;
    padding: 10px;
    color: #2b3441;
    border-bottom: 1px solid #f5f5f7;
    i {
      color: #cacad3;
    }
    .fa-angle-left {
      cursor: pointer;
      margin-right: 9px;
      font-size: 16px;
    }
  }
  .edit-share-area {
    border-bottom: 1px solid #f5f5f7;
    padding: 10px 10px 0;
  }
  .edit-wrapper {
    padding: 15px 10px;
    border-bottom: 1px solid #f5f5f7;
  }
  .edit-title {
    color: #b4b4bc;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    span {
      color: #222934;
      font-size: 14px;
      margin-right: 10px;
    }
    .desc {
      color: #b0b0b9;
      font-size: 12px;
      float: right;
    }
  }
  .edit-checkbox-wrapper {
    i {
      margin-left: 2px;
      color: #b4b4bc;
    }
    & /deep/ .el-checkbox__label {
      font-size: 12px;
    }
    & /deep/ .el-input-number.is-without-controls .el-input__inner {
      padding: 0 10px;
    }
    .extra-config {
      font-size: 13px;
    }
  }
  .el-input {
    margin-bottom: 15px;
  }
}
