.option-content-wrapper {
  width: 100%;
  margin-top: 10px;
  & /deep/ .el-radio-group {
    display: block;
  }
  & /deep/ .el-radio.is-bordered + .el-radio.is-bordered {
    margin-left: 0;
  }
  & /deep/ .el-checkbox-group {
    display: block;
  }
  & /deep/ .el-checkbox.is-bordered + .el-checkbox.is-bordered {
    margin-left: 0;
  }
  .add-option-wrapper {
    width: 100%;
    height: 38px;
    border-radius: 3px;
    border: 1px dashed #d5d5f4;
    cursor: pointer;
    line-height: 38px;
    text-align: center;
    span {
      font-size: 13px;
    }
    i {
      margin-right: 5px;
      color: #f5f5f7;
    }
  }
  .editable {
    /deep/ .el-radio__label, /deep/ .el-checkbox__label {
      position: absolute;
      height: 36px;
      top: 0;
      .el-input--medium .el-input__inner {
        border: none;
        height: 34px;
        line-height: 34px;
      }
    }
    .option-radio-wrapper {
      position: relative;
      .fa-trash {
        font-size: 14px;
        position: absolute;
        top: 10px;
        color: #b0b0b9;
        cursor: pointer;
      }
    }
  }
}
