.deal-node {
  box-sizing: border-box;
  font-size: 13px;
  .deal-node-box {
    box-sizing: border-box;
    position: relative;
    width: 270px;
    height: 130px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    .delete-wrapper {
      display: none;
      position: absolute;
      right: -7px;
      top: -7px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      border-radius: 50%;
      background-color: #ff5d3b;
      cursor: pointer;
      color: #fff;
      i {
        font-size: 13px;
        top: -2px;
        position: relative;
      }
    }
    &:hover .delete-wrapper {
      display: block;
    }
    .head-row {
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: left;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: #fff;
      padding: 0 14px;
      .user-name {
        font-size: 15px;
        color: #fff;
      }
    }
    .foot-row {
      height: 40px;
      line-height: 40px;
      padding: 0 14px;
      color: #b0b0b9;
      font-size: 13px;
      overflow: hidden;
      .write-range {
        text-align: left;
        .member-item {
          position: relative;
          margin-right: 5px;
          float: left;
          width: 22px;
          height: 22px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
          cursor: pointer;
          border: 2px solid #f5f5f7;
          border-radius: 50%;
          background-position: 50%;
          background-size: cover;
          background-image: url("./assets/images/default-user.png");
          top: 6px;
          &.applyer {
            background-color: #e0ffec;
            color: #00cb89;
            background-image: none;
            line-height: 22px;
            text-align: center;
            .fa-paper-plane{
              color: #00cb89;
            }
          }
          &.leader {
            background-color: #ffecec;
            color: #ff2929;
            background-image: none;
            line-height: 27px;
            text-align: center;
            .thumb-tack{
              color: #ff2929;
            }
          }
          &.form-member {
            background-color: #edf7ff;
            color: #728df4;
            background-image: none;
            line-height: 27px;
            text-align: center;
            .fa-grav {
              color: #728df4;
            }
          }
          &.superior {
            background-color: #ffebcd;
            color: #ffa07a;
            background-image: none;
            line-height: 27px;
            text-align: center;
            .fa-grav {
              color: #ffa07a;
            }
          }
        }
        .over-number{
          color: #6b737b;
        }
      }
    }
    .foot-note {
      text-align: left;
      height: 40px;
      line-height: 40px;
      color: #6b737b;
      border-top: 1px solid #f5f5f7;
      padding: 0 7px;
    }
  }
  .line-in-middle {
    width: 240px;
    min-height: 90px;
    margin: 0 auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 2px;
      height: 100%;
      background-color: #dfdfe8;
    }
  }
  & /deep/ .el-dialog {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 !important;
    height: 100%;
    overflow: auto;
  }
  & /deep/ .el-dialog__header {
    padding: 0;
  }
  & /deep/ .el-dialog__body {
    padding: 0;
  }
  & /deep/ .modal-wrapper {
    text-align: left;
    .header {
      height: 55px;
      line-height: 55px;
      padding-left: 15px;
      color: #fff;
      .node-name {
        width: 500px;
        padding: 0 15px 0 0;
        font-size: 18px;
        cursor: pointer;
        i {
          position: relative;
          margin-left: 10px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    .node-body {
      .node-base-info {
        padding: 15px 15px 5px;
        background-color: #fff;
        .select-user-container {
          position: relative;
          padding: 0 0 15px;
          margin: 0 5px;
          border-bottom: 1px solid #ebebf0;
          .applyer {
            font-size: 13px;
            color: #2b3441;
          }
          .set-user {
            width: 100%;
            padding: 10px 0 0;
            .divider {
              display: inline-block;
              width: 1px;
              height: 34px;
              margin: 0 16px;
              background-color: #cacad3;
              vertical-align: middle;
            }
          }
        }
        .special-setting-container {
          padding: 10px 5px 0;
          .checkbox-container {
            height: 30px;
            line-height: 30px;
            margin-bottom: 10px;
            .fa-question-circle {
              color: #cacad3;
              margin-left: 10px;
              font-size: 14px;
              cursor: pointer;
            }
            .checkbox-detail {
              margin-left: 40px;
              color: #b0b0b9;
            }
          }
        }
      }
      .node-question-setting {
        padding: 0 20px 0;
        background-color: #fafafb;
        .question-setting-header {
          width: 100%;
          height: 50px;
          line-height: 50px;
          font-size: 13px;
          .desc {
            margin-left: 10px;
            font-size: 12px;
            color: #b0b0b9;
          }
          .overall-config-container {
            float: right;
            .overall-config {
              font-size: 12px;
              color: #b0b0b9;
            }
          }
        }
        .base-que-setting {
          width: 100%;
          height: 60px;
          margin-bottom: 10px;
          background-color: #fff;
          border-radius: 3px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
          .base-que {
            height: 100%;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            position: relative;
            &:not(:last-child) {
              border-right: 1px solid #f5f5f7
            }
            .auth-edit-action {
              display: none;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              cursor: pointer;
              background-color: rgba(0, 0, 0, .3);
              z-index: 4;
            }
            &:hover .auth-edit-action {
              display: block;
            }
          }
        }
      }
    }
  }
  .node_bg_review {
    background: linear-gradient(90deg, #f69b31, #f7d44d 99%);
  }
  .node_bg_write {
    background: linear-gradient(90deg, #324963 3%, #828fa5 93%);
  }
  .node_bg_copy {
    background: linear-gradient(120deg, #afafb8 1%, #dfdfe8);
  }
  .node_bg_robot {
    background: linear-gradient(77deg, #881c6d 3%, #f9699f);
  }
}
