.end-node-container {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(-120deg, #dfdfe8 1%, #afafb8);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 100%;
  color: #fff;
  margin: 0 auto;
  font-size: 13px;
}
