.branch-container {
  margin: auto;
  text-align: center;
  position: relative;
  .add-branch {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 13px;
    background-color: #f5bc21;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    position: absolute;
    left: 50%;
    top: -12px;
    cursor: pointer;
    z-index: 1;
    margin-left: -10px;
    i {
      font-size: 8px;
      color: #fff;
      position: relative;
      top: -1px;
    }
  }
  .branch-box {
    overflow: visible;
    border-top: 2px solid #dfdfe8;
    border-bottom: 2px solid #dfdfe8;
    position: relative;
    display: inline-flex;
    justify-content: center;
    //justify-content: stretch;
    margin: auto;
    text-align: center;
    .col-box {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      .cover-line {
        position: absolute;
        height: 3px;
        width: 50%;
        background-color: #f5f5f7;
        &.top-left-line {
          top: -2px;
          left: -1px;
        }
        &.top-right-line {
          top: -2px;
          right: -1px;
        }
        &.bottom-left-line {
          bottom: -2px;
          left: -1px;
        }
        &.bottom-right-line {
          bottom: -2px;
          right: -1px;
        }
      }
    }
  }
  .line-in-middle {
    width: 240px;
    min-height: 90px;
    margin: 0 auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 2px;
      height: 100%;
      background-color: #dfdfe8;
    }
  }
}
