.dynamic-table-container {
  .table-container {
    width: 100%;
    overflow: auto;
    .mf-table {
      width: 100%;
      border: 1px solid #dcdce6;
      border-radius: 3px;
      border-collapse: separate;
      border-spacing: 0;
      text-align: left;
      overflow: hidden;
      box-sizing: border-box;
      .mf-thead {
        & > tr > th {
          min-width: 200px;
          border-right: 1px solid #eeeef2;
          border-bottom: 1px solid #eeeef2;
          padding: 10px 8px;
          word-break: break-all;
          background: #fafafb;
          font-weight: 400;
          color: #6b737b;
          .required-mark{
            margin-left: 3px;
            color: #f26245;
          }
          &:last-child {
            width: 50px;
            min-width: 50px;
            text-align: center;
          }
        }
      }
      .mf-tbody {
        background-color: #fff;
        & > tr > td {
          border-right: 1px solid #eeeef2;
          border-bottom: 1px solid #eeeef2;
          padding: 5px;
          word-break: break-all;
          .delete-i{
            color: #c1c1cd;
            cursor: pointer;
            font-size: 16px;
          }
          &:last-child {
            width: 50px;
            min-width: 50px;
            text-align: center;
          }
          .form-item-error{
            color: #f56c6c;
            font-size: 12px;
            padding-top: 4px;
          }
          &.has-error{
            /deep/ .el-input__inner{
              border-color: #f56c6c;
            }
          }
        }
        & > tr :last-child td {
          border-bottom: none;
        }
      }
    }
  }
  .add-row {
    width: 100%;
    height: 34px;
    margin-top: 10px;
    border: 1px dashed #c1c1cd;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
    i {
      color: #f5f5f7;
      margin-right: 5px;
      font-size: 16px;
    }
    &:hover {
      border-color: #f5bc21;
    }
  }
}
